:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --danamon_orange: #F39910;
    --danamon_red: #EA5B24;
    --danamon_yellow: #FDD100;
    --danamon_green: #007242;
    --text-xxs: 0.50rem;
    /* 8px */
    --text-xxs--line-height: calc(1 / 0.50);
    --text-xs: 0.75rem;
    /* 12px */
    --text-xs--line-height: calc(1 / 0.75);
    --text-sm: 0.875rem;
    /* 14px */
    --text-sm--line-height: calc(1.25 / 0.875);
    --text-base: 1rem;
    /* 16px */
    --text-base--line-height: calc(1.5 / 1);
    --text-lg: 1.125rem;
    /* 18px */
    --text-lg--line-height: calc(1.75 / 1.125);
    --text-xl: 1.25rem;
    /* 20px */
    --text-xl--line-height: calc(1.75 / 1.25);
    --text-2xl: 1.5rem;
    /* 24px */
    --text-2xl--line-height: calc(2 / 1.5);
    --rz-header-background-color: #F39910;
    --rz-primary: #F39910;
}

html,
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a,
.btn-link {
    color: #006bb7;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn-secondary {
    color: #fff;
    background-color: var(--danamon_red);
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.content {
    padding-top: 1.1rem;
}

h1:focus {
    outline: none;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid #e50000;
}

.validation-message {
    color: #e50000;
}

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.darker-border-checkbox.form-check-input {
    border-color: #929292;
}

.rz-textbox,
rz-multiselect,
.rz-dropdown,
.rz-autocomplete,
.rz-textarea {
    width: 100%;
}

.rz-tooltip-content {
    font-size: smaller;
}


.custom-upload .rz-fileupload-choose {
    background-color: white !important;
    color: black !important;
    width: 100% !important;
    font-weight: normal;
    border-radius: 5px;
    padding: 10px;
    box-shadow: none;
}

.custom-upload .rz-button {
    box-shadow: none;
    border: 1px solid #757575;
}

.custom-upload.rz-fileupload {
    display: grid;
    text-align: center;
}

/* Login Page Start */
.login-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
}

.top-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 20px 0;
}

.bank-logo {
    width: 300px;
    height: auto;
}

.fas-text {
    padding: 10px 10px;
    font-size: 36px;
    border-radius: 12px;
    font-weight: bold;
    color: var(--danamon_orange);
}

.login-card {
    width: 100%;
    max-width: 1200px;
    height: 600px;
    background: white;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

    .login-card::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("images/bg_login.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        opacity: 0.6;
        /* Atur transparency */
    }

.login-left {
    flex: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(255, 255, 255, 0.85);
    z-index: 2;
    height: 100%;
    min-width: 300px;
}

.login-subleft {
    display: flex;
    justify-content: center;
}

.login-right {
    flex: 2;
    display: flex;
    align-items: start;
    justify-content: center;
    z-index: 2;
    min-width: 300px;
}

.form-group {
    margin-bottom: 15px;
}

.text-center {
    text-align: center;
}

/* Marquee Text */
.marquee-container {
    width: 100%;
    max-width: 1200px;
    text-align: center;
    padding: 10px 0;
}

/* Responsive Adjustments */
@media (max-width: 1024px) {
    .login-card {
        flex-direction: column;
        height: auto;
    }

    .login-left,
    .login-right {
        width: 100%;
        min-width: unset;
    }

    .top-section {
        flex-direction: column;
        text-align: center;
    }

    .fas-text {
        border-start-start-radius: 0px;
        border-start-end-radius: 0px;
        margin-top: 10px;
        font-size: 26px;
        margin-top: 10px;
    }
}

/* Login Page End */

/* global */
.text-xxs {
    font-size: var(--text-xxs);
    /* 0.50rem (8px) */
    line-height: var(--text-xxs--line-height);
    /* calc(1 / 0.50) */
}

.text-xs {
    font-size: var(--text-xs);
    /* 0.75rem (12px) */
    line-height: var(--text-xs--line-height);
    /* calc(1 / 0.75) */
}

.text-sm {
    font-size: var(--text-sm);
    /* 0.875rem (14px) */
    line-height: var(--text-sm--line-height);
    /* calc(1.25 / 0.875) */
}

.text-base {
    font-size: var(--text-base);
    /* 1rem (16px) */
    line-height: var(--text-base--line-height);
    /* calc(1.5 / 1) */
}

.text-lg {
    font-size: var(--text-lg);
    /* 1.125rem (18px) */
    line-height: var(--text-lg--line-height);
    /* calc(1.75 / 1.125) */
}

.text-xl {
    font-size: var(--text-xl);
    /* 1.25rem (20px) */
    line-height: var(--text-xl--line-height);
    /* calc(1.75 / 1.25) */
}

.text-2xl {
    font-size: var(--text-2xl);
    /* 1.5rem (24px) */
    line-height: var(--text-2xl--line-height);
    /* calc(2 / 1.5)*/
}

.rz-button.rz-primary.rz-shade-default,
.rz-primary.rz-shade-default.rz-paginator-element {
    background-color: var(--danamon_red);
    transition: background-color 0.2s ease-in-out, filter 0.2s ease-in-out;
}

    .rz-button.rz-primary.rz-shade-default:hover,
    .rz-primary.rz-shade-default.rz-paginator-element:hover {
        filter: brightness(90%);
    }

.home-bg {
    height: 100%;
    min-height: 570px;
    background-image: url('images/home.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.greetings {
    color: var(--danamon_red);
    font-size: 3rem;
    font-weight: bold;
}

.text-justify {
    text-align: justify;
}

.bg-dgreen {
    background-color: #007242 !important;
}

.form-title {
    color: var(--danamon_red);
    font-size: 32px;
    font-weight: bold;
}

.form-subtitle {
    background-color: var(--danamon_orange);
    width: 100%;
    padding: 10px;
    color: ghostwhite;
    font-size: 20px;
    font-weight: bold;
    border-bottom-right-radius: 20px;
}

.red-sup {
    color: var(--danamon_red);
}

.rz-datepicker {
    width: 100% !important;
}